<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-3.2.1.min.js"></script>


    <script type="text/javascript">
            var params = {
                userId : 1,
                productId : 1,
                quantity : 2
            };
            // 通过POST请求后端
            $.post("./purchase", params, function(result) {
                alert(result.message);
            });
/*        for (var i=1; i<=40000; i++) {
            var params = {
                userId : 1,
                productId : 1,
                quantity : 1
            };
            // 通过POST请求后端,这里的JavaScript会采用异步请求
            $.post("./purchase", params, function(result) {
            });
        }*/
    </script>

</head>
<body>
<h1>抢购产品测试</h1>
</body>
</html>